.content {
  margin-top: 48px;

  @media (max-width: 639px) {
    margin-top: 36px;
  }

  h2 {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    padding: 16px 32px;
    border-bottom: 4px solid #1496A0;
    margin-top: 72px;

    @media (max-width: 639px) {
      font-size: 24px;
      padding: 16px 24px;
      margin-top: 48px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url("/images/section-title-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (max-width: 639px) {
        width: 32px;
        height: 32px;
      }
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    padding: 12px 16px;
    border-left: 4px solid #1496A0;
    margin-top: 48px;

    @media (max-width: 639px) {
      font-size: 20px;
      padding: 8px 12px;
    }
  }

  p {
    margin-top: 48px;
    font-size: 16px;
    line-height: 2;

    @media (max-width: 639px) {
      margin-top: 24px;
    }

    &:first-child {
      margin-top: 0;
    }

    :global(.highlight) {
      background-color: #FFFF00;
      font-weight: 700;
    }

    :global(.textRed) {
      color: #ee4720;
      font-weight: 700;
    }
  }
  
  figure {
    width: 80%;
    margin: 48px auto; 

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
