.section {
  margin-top: 72px;
  padding: 48px 24px;
}

.primary {
  background-color: #1496a04d;
}

.light {
  background-color: #fafafa;
}

.title {
  position: relative;
  margin: 0 0 24px;
  padding: 16px 32px;
  border-bottom: 4px solid #1496A0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("/images/section-title-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px 20px;
}

.card {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 16px;
  color: inherit;
  text-decoration: none;

  &:hover {
    .cardTitle {
      color: #1496A0;
      text-decoration: underline;
    }
  }
}

.image {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cardTitle {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.date {
  font-size: 12px;
  line-height: 1.5;
}

.category {
  padding: 4px 8px;
  border: 1px solid #1496A0;
  color: #1496A0;
  font-size: 12px;
  line-height: 1.5;
}
